'scopeName': 'source.yaml-ext'
'name': 'YAML-ext'
'fileTypes': [
  '.analysis_options'
  'pubspec.lock'
]
'patterns': [
  {
    'include': '#erb'
  }
  {
    'begin': '^(\\s*)(?!-\\s*)(\\S+\\s*(:))\\s*(\\||>)'
    'beginCaptures':
      '2':
        'name': 'entity.name.tag.yaml-ext'
      '3':
        'name': 'punctuation.separator.key-value.yaml-ext'
    'end': '^(?!\\1\\s+)(?=\\s*(-|\\S+\\s*:|#))'
    'name': 'string.unquoted.block.yaml-ext'
    'patterns': [
      {
        'include': '#erb'
      }
    ]
  }
  {
    'begin': '^(\\s*)(?:(-)|(?:(-(\\s*))?(\\S+\\s*(:))))\\s*(\\||>)'
    'beginCaptures':
      '2':
        'name': 'punctuation.definition.entry.yaml-ext'
      '3':
        'name': 'punctuation.definition.entry.yaml-ext'
      '5':
        'name': 'entity.name.tag.yaml-ext'
      '6':
        'name': 'punctuation.separator.key-value.yaml-ext'
    'end': '^(?!\\1 \\4\\s+)(?=\\s*(-|\\S+\\s*:|#))'
    'name': 'string.unquoted.block.yaml-ext'
    'patterns': [
      {
        'include': '#erb'
      }
    ]
  }
  {
    'captures':
      '1':
        'name': 'punctuation.definition.entry.yaml-ext'
      '2':
        'name': 'entity.name.tag.yaml-ext'
      '3':
        'name': 'punctuation.separator.key-value.yaml-ext'
      '4':
        'name': 'punctuation.definition.entry.yaml-ext'
    'match': '(?:(?:(-\\s*)?([^\\s#].*?(:)(?=\\s)))|(-))\\s*((0(x|X)[0-9a-fA-F]*)|(([0-9]+\\.?[0-9]*)|(\\.[0-9]+))((e|E)(\\+|-)?[0-9]+)?)(L|l|UL|ul|u|U|F|f)?\\s*($|(?=#)(?!#\\{))'
    'name': 'constant.numeric.yaml-ext'
  }
  {
    'begin': '(?:(?:(-\\s*)?([^\\s#].*?(:)(?=\\s)))|(-))[ \t]*'
    'beginCaptures':
      '1':
        'name': 'punctuation.definition.entry.yaml-ext'
      '2':
        'name': 'entity.name.tag.yaml-ext'
      '3':
        'name': 'punctuation.separator.key-value.yaml-ext'
      '4':
        'name': 'punctuation.definition.entry.yaml-ext'
    'end': '$|(?=#)(?!#\\{)'
    'patterns': [
      {
        'name': 'string.unquoted.yaml-ext'
        'match': '\\!\\s*'
      }
      {
        'include': '#double_quoted_string'
      }
      {
        'include': '#single_quoted_string'
      }
      {
        'name': 'string.unquoted.yaml-ext'
        'match': '[^"\'#\\n]([^#\\n]|((?<!\\s)#))*'
      }
    ]
    'name': 'string.unquoted.yaml-ext'
  }
  {
    'captures':
      '1':
        'name': 'punctuation.definition.entry.yaml-ext'
      '2':
        'name': 'entity.name.tag.yaml-ext'
      '3':
        'name': 'punctuation.separator.key-value.yaml-ext'
      '4':
        'name': 'punctuation.definition.entry.yaml-ext'
    'match': '(?:(?:(-\\s*)?(\\w+\\s*(:)))|(-))\\s*([0-9]{4}-[0-9]{2}-[0-9]{2})\\s*($|(?=#)(?!#\\{))'
    'name': 'constant.other.date.yaml-ext'
  }
  {
    'captures':
      '1':
        'name': 'entity.name.tag.yaml-ext'
      '2':
        'name': 'punctuation.separator.key-value.yaml-ext'
      '3':
        'name': 'keyword.other.omap.yaml-ext'
      '4':
        'name': 'punctuation.definition.keyword.yaml-ext'
    'match': '(\\w.*?)(:)\\s*((\\!\\!)omap)?'
    'name': 'meta.tag.yaml-ext'
  }
  {
    'captures':
      '1':
        'name': 'punctuation.definition.variable.yaml-ext'
    'match': '(\\&|\\*)\\w.*?$'
    'name': 'variable.other.yaml-ext'
  }
  {
    'include': '#double_quoted_string'
  }
  {
    'include': '#single_quoted_string'
  }
  {
    'begin': '`'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.yaml-ext'
    'end': '`'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.yaml-ext'
    'name': 'string.interpolated.yaml-ext'
    'patterns': [
      {
        'include': '#escaped_char'
      }
      {
        'include': '#erb'
      }
    ]
  }
  {
    'captures':
      '1':
        'name': 'entity.name.tag.yaml-ext'
      '2':
        'name': 'keyword.operator.merge-key.yaml-ext'
      '3':
        'name': 'punctuation.definition.keyword.yaml-ext'
    'match': '(\\<\\<): ((\\*).*)$'
    'name': 'keyword.operator.merge-key.yaml-ext'
  }
  {
    'disabled': '1'
    'match': '( |\t)+$'
    'name': 'invalid.deprecated.trailing-whitespace.yaml-ext'
  }
  {
    'begin': '(^[ \\t]+)?(?<!\\$)(?<=^|[ \\t])(?=#)(?!#\\{)'
    'beginCaptures':
      '1':
        'name': 'punctuation.whitespace.comment.leading.yaml-ext'
    'end': '(?!\\G)'
    'patterns': [
      {
        'begin': '#'
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.comment.yaml-ext'
        'end': '\\n'
        'name': 'comment.line.number-sign.yaml-ext'
      }
    ]
  }
  {
    'match': '-'
    'name': 'keyword.operator.symbol'
  }
  {
    'begin': '^(?=\\t)'
    'end': '(?=[^\\t])'
    'name': 'meta.leading-tabs.yaml-ext'
    'patterns': [
      {
        'captures':
          '1':
            'name': 'meta.odd-tab'
          '2':
            'name': 'meta.even-tab'
        'match': '(\\t)(\\t)?'
      }
    ]
  }
]
'repository':
  'erb':
    'begin': '<%+(?!>)=?'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.embedded.begin.ruby'
    'contentName': 'source.ruby.rails'
    'end': '(%)>'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.embedded.end.ruby'
      '1':
        'name': 'source.ruby.rails'
    'name': 'meta.embedded.line.ruby'
    'patterns': [
      {
        'captures':
          '1':
            'name': 'punctuation.definition.comment.ruby'
        'match': '(#).*?(?=%>)'
        'name': 'comment.line.number-sign.ruby'
      }
      {
        'include': 'source.ruby.rails'
      }
    ]
  'escaped_char':
    'match': '\\\\.'
    'name': 'constant.character.escape.yaml-ext'
  'double_quoted_string':
    'begin': '"'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.yaml-ext'
    'end': '"'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.yaml-ext'
    'name': 'string.quoted.double.yaml-ext'
    'patterns': [
      {
        'include': '#escaped_char'
      }
      {
        'include': '#erb'
      }
    ]
  'single_quoted_string':
    'begin': '\''
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.yaml-ext'
    'end': '\''
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.yaml-ext'
    'name': 'string.quoted.single.yaml-ext'
    'patterns': [
      {
        'include': '#escaped_char'
      }
      {
        'include': '#erb'
      }
    ]
