'menu': [
  {
    label: 'Packages'
    submenu: [
      {
        label: 'Dart'
        submenu: [
          { label: 'Package Settings…', command: 'dartlang:settings' }
          { type: 'separator' }
          { label: 'Re-analyze Sources', command: 'dartlang:reanalyze-sources' }
          { label: 'Analysis Server Status', command: 'dartlang:analysis-server-status' }
          { type: 'separator' }
          { label: 'Getting Started…', command: 'dartlang:getting-started' }
          { label: 'Release Notes', command: 'dartlang:release-notes' }
          { label: 'Send Feedback…', command: 'dartlang:send-feedback'}
        ]
      }
    ]
  }
  {
    label: 'View'
    submenu: [
      { label: 'Toggle Outline View', command: 'dartlang:toggle-outline-view'}
    ]
  }
]

'context-menu':
  'atom-pane[data-active-item-path$="pubspec.yaml"] atom-text-editor[data-grammar~="yaml"]': [
    { label: 'Pub Get', command: 'dartlang:pub-get'}
    { label: 'Pub Upgrade', command: 'dartlang:pub-upgrade'}
    { type: 'separator'}
  ]
  'atom-pane[data-active-item-path$=".dart"] atom-text-editor[data-grammar~="dart"]': [
    { label: 'Find References…', command: 'dartlang:find-references' }
    { label: 'Format', command: 'dartlang:dart-format' }
    { label: 'Organize Directives', command: 'dartlang:organize-directives' }
    # TODO(danrubel) should rename be moved into the Refactor submenu ?
    { label: 'Rename…', command: 'dartlang:refactor-rename' }
    { label: 'Refactor', submenu: [
        { label: 'Extract Local…', command: 'dartlang:refactor-extract-local' }
        { label: 'Inline Local…', command: 'dartlang:refactor-inline-local' }
    ]}
    { label: 'Sort Members', command: 'dartlang:sort-members' }
    { label: 'Type Hierarchy', command: 'dartlang:type-hierarchy' }
    { label: 'Toggle Breakpoint', command: 'dartlang:debug-toggle-breakpoint' }
    { type: 'separator'}
  ]
  '.tree-view.full-menu li[is="tree-view-file"] span[data-name$=".dart"]': [
    { label: 'Format', command: 'dartlang:dart-format' }
    { type: 'separator'}
  ]
