# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus.

'menu': [
  {
    label: 'Packages'
    submenu: [
      label: 'Dart'
      submenu: [
        {label: 'Reanalyze Sources', command: 'dartlang:reanalyze-sources'},
        {label: 'Show Analysis Server Status', command: 'dartlang:analysis-server-status'}
      ]
    ]
  }
]

'context-menu':
  'atom-pane[data-active-item-path$="pubspec.yaml"] atom-text-editor[data-grammar~="yaml"]': [
    {label: 'Pub Get', command: 'dartlang:pub-get'}
    {label: 'Pub Upgrade', command: 'dartlang:pub-upgrade'}
    {type: 'separator'}
  ]
  '.tree-view.full-menu li[is="tree-view-file"] span[data-name="pubspec.yaml"]': [
    {'label': 'Pub Get', 'command': 'dartlang:pub-get' }
    {'label': 'Pub Upgrade', 'command': 'dartlang:pub-upgrade' }
    {'type': 'separator'}
  ]
