# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth.

'atom-workspace':
  'ctrl-alt-cmd-;': 'dartlang:rebuild-restart-dev'

'atom-text-editor[data-grammar~="dart"]:not([mini])':
  'enter': 'dartlang:newline'
  'f1': 'dartlang:show-dartdoc'
  'f3': 'dartlang:jump-to-declaration'

'body.platform-darwin atom-text-editor[data-grammar~="dart"]:not([mini])':
  'cmd-1': 'dartlang:quick-fix'
  'cmd-alt-b': 'dartlang:dart-format'

'body.platform-linux atom-text-editor[data-grammar~="dart"]:not([mini]), body.platform-win32 atom-text-editor[data-grammar~="dart"]:not([mini])':
  'ctrl-1': 'dartlang:quick-fix'
  'ctrl-alt-b': 'dartlang:dart-format'
