# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to execute.
# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth.

# Global commands (mac)
'body.platform-darwin':
  'ctrl-alt-cmd-;': 'dartlang:rebuild-restart-dev'

# Global commands (windows and linux)
'body.platform-win32, body.platform-linux':
  'ctrl-alt-;': 'dartlang:rebuild-restart-dev'

# Dart editor commands (common to all platforms)
'atom-text-editor[data-grammar~="dart"]:not([mini])':
  'ctrl-1': 'dartlang:quick-fix'
  'alt-enter': 'dartlang:quick-fix'
  'f1': 'dartlang:show-dartdoc'
  'f3': 'dartlang:jump-to-declaration'
  'f4': 'dartlang:type-hierarchy'
  'alt-shift-r': 'dartlang:refactor-rename'
  'enter': 'dartlang:newline'

# Dart editor commands (mac)
'body.platform-darwin atom-text-editor[data-grammar~="dart"]:not([mini])':
  'cmd-r': 'dartlang:run-application'
  'cmd-alt-b': 'dartlang:dart-format'
  'cmd-alt-o': 'dartlang:organize-directives'
  'shift-cmd-g': 'dartlang:find-references'

# '.tree-view span[data-path]':
#   'cmd-r': 'dartlang:run-application'

# Dart editor commands (windows and linux)
'body.platform-linux atom-text-editor[data-grammar~="dart"]:not([mini]), body.platform-win32 atom-text-editor[data-grammar~="dart"]:not([mini])':
  'ctrl-r': 'dartlang:run-application'
  'ctrl-alt-b': 'dartlang:dart-format'
  'ctrl-alt-o': 'dartlang:organize-directives'
  'ctrl-shift-g': 'dartlang:find-references'
