# https://atom.io/docs/latest/behind-atom-keymaps-in-depth.

'body.platform-darwin':
  'ctrl-alt-cmd-;': 'dartlang:rebuild-restart-dev'
  'cmd-{': 'dartlang:navigate-back'
  'cmd-}': 'dartlang:navigate-forward'

'body.platform-win32, body.platform-linux':
  'ctrl-alt-;': 'dartlang:rebuild-restart-dev'
  'ctrl-{': 'dartlang:navigate-back'
  'ctrl-}': 'dartlang:navigate-forward'

'atom-text-editor[data-grammar~="dart"]:not([mini])':
  'f1': 'dartlang:show-dartdoc'
  'f3': 'dartlang:jump-to-declaration'
  'f4': 'dartlang:type-hierarchy'
  'enter': 'dartlang:newline'

'body.platform-darwin atom-text-editor[data-grammar~="dart"]:not([mini])':
  'cmd-1': 'dartlang:quick-fix'
  'cmd-alt-b': 'dartlang:dart-format'

'body.platform-linux atom-text-editor[data-grammar~="dart"]:not([mini]), body.platform-win32 atom-text-editor[data-grammar~="dart"]:not([mini])':
  'ctrl-1': 'dartlang:quick-fix'
  'ctrl-alt-b': 'dartlang:dart-format'
