// The ui-variables file is provided by base themes provided by Atom.
@import "ui-variables";

.job-status-bar {
  display: none;
}

.job-status-bar.showing {
  display: inline-block;
}

.job-status-bar {
  overflow: hidden;
  cursor: pointer;

  .text-label {
    transition: 0.2s;
    position: relative;
    top: 20px;
  }

  .status-spinner {
    opacity: 0;
    transition: 0.4s;
    fill: @text-color;
    width: 20px;
    height: 20px;
  }

  .showing {
    top: 0;
    opacity: 1;
  }
}

.jobs-dialog {
  li.job-container {
    display: flex !important;
  }

  .inline-block .inline-block {
    vertical-align: middle;
  }

  .info {
    cursor: pointer;
  }
}

.analysis-dialog {
  .title {
    margin-bottom: 0.5em;
  }

  .last-message {
    font-family: monospace;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: pre-line;
    line-height: 1em;
    min-height: 3em;
    max-height: 8em;
  }

  button {
    min-width: 75px;
  }
}
