@import "ui-variables";
@import "syntax-variables";

.console-view {
  .console-title-area {
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 1;

    .badge {
      cursor: pointer;
    }

    .badge[disabled] {
      cursor: default;
    }

    .launch-terminated {
      font-style: italic;
    }

    .console-tabs {

    }

    .process-tab {
      display: inline-block;
      transition: background-color 0.2s ease;
      border-radius: 4px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .process-tab + .process-tab {
      margin-left: 8px;
    }

    .process-icon + .process-icon {
      margin-left: 4px;
    }

    .run-buttons {
      display: inline-block;
      position: relative;
      top: 1px;
    }
  }

  .view-content {
    padding: 0;

    .trace-link {
      cursor: pointer;
      color: @text-color-highlight;
    }

    .trace-link:hover {
      text-decoration: underline;
    }

    .console-error .trace-link {
      color: lighten(@text-color-error, 20%);
    }
  }

  .console-line {
    padding: 0;
    background-color: inherit;
    -webkit-user-select: text;
  }

  .console-line .badge {
    font-size: 12px;
  }

  .console-error {
    color: @text-color-error;
  }
}

.process-status-bar {
  .badge {
    color: @text-color;
  }
}
