@import "ui-variables";

.plugin-status {
  .view-section {
    .status-header {
      margin-bottom: 6px;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }

    button {
      margin-left: 6px;
    }

    div.bottom-margin {
      margin-bottom: 6px;
    }
  }
}
